.tile {
  transition: all 0.1s;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
  border: 0.05em solid #39393cad;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #9c969475;
  border-radius: 0.25rem;

  &.active {
    background: #53494575;
  }

  &.notInWord {
    background: black;
  }

  &.inWordWrongPosition {
    background: yellow;
  }
  
  &.inWordRightPosition {
    background: green;
  }

}
